Card
	display: flex
	margin: auto
	border-radius: 5px
	border: 1px solid #ebebeb
	width: 80%
	margin: 10px auto

.img-div
	width: 200px
	height: 200px
	background-size: contain
	background-repeat: no-repeat
	background-position: center

img
	width: 100%

.text-div
	padding: 0 10px
	width: auto

.test-div > a
	text-decoration: none

