Card
	display: flex
	margin: auto
	border-radius: 5px
	border: 1px solid #ebebeb
	width: 80%
	margin: 10px auto

.img-div
	width: 200px
	height: 200px
	background-size: contain
	background-repeat: no-repeat
	background-position: center

img
	width: 100%

.text-div
	padding: 0 10px
	width: auto

.test-div > a
	text-decoration: none

/*tooltip Box*/

.con-tooltip
  position: relative
  border-radius: 9px
  padding: 10px 5px
  margin: 10px 0px
  display: inline-block
  transition: all 0.3s ease-in-out
  cursor: default
  width: 100%

/*tooltip*/

.tooltip
  visibility: hidden
  z-index: 1
  opacity: .40
  width: 100%
  padding: 0px 20px
  background: #333
  color: #E086D3
  position: absolute
  top: -160%
  left: -25%
  border-radius: 9px
  font-size: 16px
  transform: translateY(9px)
  transition: all 0.3s ease-in-out
  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86)
  display: flex
  &::after
    content: " "
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 12.5px 0 12.5px
    border-color: #333 transparent transparent transparent
    position: absolute
    left: 40%
    bottom: -10px

/* tooltip  after*/

.user-name
	display: inline-block
	padding: 10px 0px
	margin: 0px

.user-name:hover~.tooltip
  visibility: visible
  opacity: 1
  animation: anim 1s ease-in-out infinite  alternate

@keyframes anim
  0%
    transform: translateY(6px)

  100%
    transform: translateY(1px)


.top:hover
  transform: translateY(-6px)

.tooltip-img > img
	width: 100px
	margin-right: 10px

.tooltip-txt > p
	margin: 0px





